@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text {
    @apply text-lg font-semibold text-red-500;
  }

  .chip {
    @apply px-2 py-1 rounded-2xl text-white inline-block text-xs capitalize h-6 whitespace-nowrap;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d0d0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8c8c;
}
